* {
    font-family:sans-serif;
}

.wrapper {
    /* background-image: url('https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1413&q=80'); */
    background-image: url('https://raw.githubusercontent.com/AaxellD/AaxellD.github.io/master/imgs/Background.png');
    background-size: cover;
}

.container {
    /* display */
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    /* dimensions */
    width:100%;
    min-width: 500px;
    min-height: 100vh;
    height:100%;
    
    /* colors */
    
    /* background-color: rgba(70, 131, 180, 0.664); */
    background-color: rgba(35, 35, 35, 0.55);

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.title {
    font-size: 2.5em;
    font-family:'Permanent Marker' ;
    text-shadow: 2px 2px rgba(35, 35, 35, 0.75);
}

#theBox {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center;

background-color: rgba(223, 223, 223, 0.75);
border-radius: 10px;

min-width: 50%;
margin-top: 30px;

text-align: center;
}

    #theBox p {
        background-color: rgba(112, 128, 144, 0.6);
        padding:10px;
    }

.stockBlock {
    width:500px;
    background-color: white;
    margin:20px 20px;
    color: black;
    border-radius: 20px;
    padding:20px;
    line-height: 20px;
}

    .stockBlock:hover {
        background-color: rgba(37, 35, 35, 0.74);
        color: white;
    }

    .logo {
        height: 50px;
        border-radius: 5px;
    }

    .statBox {
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin:10px;
    }


    #modal {
        background-color: rgba(0,0,0,0.6);
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1;  
        overflow: auto;
        display:none;
    }

        #modal-textbox {
            background-color: white;
            color: black;
            height: 250px;
            width: 350px;
            padding: 20px;
            border-radius: 2px;
            margin: 150px auto;
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        }

    #openModal {
        border: 2px solid azure;
        border-radius: 10px;
        box-shadow:2px 2px rgba(35, 35, 35, 0.75);
        color:white;

        width: 200px;
        padding:20px;
        margin:20px 0px;

        font-size: medium;
        background-color: transparent;
    }

    #openModal:hover {
        background-color: azure;
        color: rgba(35, 35, 35, 0.75);
    }

    .modal-buttons {
        position: relative;
        bottom:50;
        right:50;

        font-size: medium;
        background-color: black;
        color:white;
    }

.line {
    height:2px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.699);
}

footer {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
    background-color: rgba(37, 35, 35, 0.74);
    color:white;
    text-align: center;

    height:80px;
    margin: 0px;
    padding:10px;
}

footer a {
    text-decoration: none;
    color:white;
}
